version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    networks:
      default:
        aliases:
          - backend-service

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

networks:
  default:
    name: devops-network
