apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-platform
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/medkhalilbensmida/devops-gitops-project.git
    targetRevision: HEAD
    path: k8s
    helm:
      valueFiles:
        - values.yaml
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  - group: argoproj.io
    kind: Rollout
    jsonPointers:
    - /spec/replicas
  destination:
    server: https://kubernetes.default.svc
    namespace: devops-prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
