apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "devops-platform.fullname" . }}-backend
  labels:
    app: backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  strategy:
    canary:
      steps:
        - setWeight: 40
        - pause: { duration: 1m }
        - analysis:
            templates:
              - templateName: success-rate
        - setWeight: 80
        - pause: { duration: 1m }
        - analysis:
            templates:
              - templateName: success-rate
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/actuator/prometheus"
        prometheus.io/port: "8080"
        deployment.revision: "{{ .Values.revision }}"
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: {{ include "devops-platform.fullname" . }}-postgres
            - name: DB_PORT
              value: "{{ .Values.database.port }}"
            - name: DB_NAME
              value: {{ .Values.database.db }}
            - name: DB_USER
              value: {{ .Values.database.user }}
            - name: DB_PASS
              value: {{ .Values.database.password }}
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 5
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }}
