# EXEMPLE DE GITOPS DES SECRETS (SEALED SECRETS)
# 1. Installer le controlleur : 
#    kubectl apply -f https://github.com/bitnami-labs/sealed-secrets/releases/download/v0.21.0/controller.yaml
# 2. Chiffrer un secret localement :
#    kubeseal < secret.yaml > sealed-secret.yaml
# 3. Pousser le 'sealed-secret.yaml' sur GitHub en toute sécurité.

apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: database-credentials-sealed
  namespace: devops-prod
spec:
  encryptedData:
    # Ceci est un exemple de donnée chiffrée impossible à lire sans la clé privée du cluster
    password: AgBy3i4qM8TuxvF... (Démonstration)
  template:
    metadata:
      name: database-credentials
      labels:
        app: postgres
    type: Opaque
